<table style="width: 100%">
  <tr>
    <td>
      <div style="text-align: center">
        <ngx-charts-bar-vertical style="display: inline-block"
        [view]="view"
        [scheme]="colorScheme"
        [results]="occurrences"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    </td>
  </tr>
</table>
